{{define "header" }}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{.Title}}</title>
    {{end}}
{{define "static" }}
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
{{end}}
{{define "body"}}
  </head>
  <body>
{{end}}
{{define "footer"}}
  </body>
  </head>
{{end}}
